body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #00ca75;
}
header {
    text-align: center;
    font-weight: 300;
    font-size: small;
}

.form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 35px;
    padding: 15px;
}

fieldset{
    border: none;
}

p{
    text-align: left;
}

.data,
.recommendation,
.languages-check,
.comments{
    padding: 0 auto;
    display: flex;
    flex-direction: column;
}

.data input{
    height: 35px;
}
.data{
    margin-top: 10px;
    gap:20px
}

#occupation{
    height: 40px;
    background-color: #fff;
    border: solid 0,5pc;
}

#submit{
    background-color:#00ca75;
    border: solid 1px gray;
    font-size: 25px;
    font-weight: 300;
    margin-top: 35px;
    cursor: pointer;
}

