body{
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgba(8, 176, 75, 0.889);
}



form{
    width: 60vw;
    height: 60vh;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}
fieldset{
    background-color: #fff;
    border: 1px solid;
}

label{
    display: inline;
    margin: 0.5rem 0;
}

textarea, select{
    width: 70%;
    margin: 10px 0;
    min-height: 2em;
    background-color: #fff;
    border: 1px solid #ccc;
}

.submit{
    background-color: rgba(8, 176, 75, 0.889);
    width: 72%;
    margin: 3em;
    padding: 0.1em;
    font-weight: 500;
    border: none;
    cursor:pointer;
}

